/* Import Fonts */
@font-face {
  font-family: Cera;
  src: url(Cera.otf); }

/* line 2, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
html,
body {
  width: 100%;
  height: 100%; }

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
body {
  font-family: 'Cera','Muli', 'Helvetica', 'Arial', 'sans-serif'; }

/* line 12, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
a {
  color: #00d2df;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  /* line 15, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
  a:hover, a:focus {
    color: #00a2ac; }

/* line 21, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1); }

/* line 28, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
hr.light {
  border-color: white; }

/* line 32, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cera','Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }

/* line 41, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; }

/* line 47, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
section {
  padding: 20px 0; }
  /* line 49, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
  section h2 {
    font-size: 50px; }

/* line 54, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
.full-width {
  width: 100%; }

@media screen and (max-width: 767px) {
  /* line 58, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
  .mobile-hide {
    display: none; } }

@media screen and (min-width: 767px) {
  /* line 64, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
  .mobile-show {
    display: none; } }

/*scroll bar*/
/* line 73, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
.scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

/* line 78, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
.scroll-style::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

/* line 83, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_global.scss */
.scroll-style::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent)); }

/* line 2, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Cera','Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }
  /* line 7, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
  #mainNav .navbar-brand {
    color: #fc9f20;
    font-family: 'Cera','Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px; }

@medi screen and (max-width: $break-tablet) {
  /* line 7, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
  #mainNav .navbar-brand {
    width: 50%; } }
    /* line 13, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #00a2ac; }
  /* line 18, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222; }
  /* line 25, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
  #mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase; }
    /* line 28, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
    #mainNav .navbar-nav > li > a.active {
      color: #00d2df !important;
      background-color: transparent; }
      /* line 31, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
      #mainNav .navbar-nav > li > a.active:hover {
        background-color: transparent; }
  /* line 36, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222; }
    /* line 39, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: #00d2df; }
  @media (min-width: 992px) {
    /* line 2, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      /* line 48, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
      #mainNav .navbar-brand {
        color: fade(white, 70%); }
        /* line 50, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: white; }
      /* line 55, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
      #mainNav .navbar-nav > li > a,
      #mainNav .navbar-nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        /* line 58, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
        #mainNav .navbar-nav > li > a:hover,
        #mainNav .navbar-nav > li > a:focus:hover {
          color: white; }
      /* line 62, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: white; }
        /* line 65, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
        #mainNav.navbar-shrink .navbar-brand {
          color: #222222; }
          /* line 67, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
          #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
            color: #00d2df; }
        /* line 72, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
        #mainNav.navbar-shrink .navbar-nav > li > a,
        #mainNav.navbar-shrink .navbar-nav > li > a:focus {
          color: #222222; }
          /* line 75, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_navbar.scss */
          #mainNav.navbar-shrink .navbar-nav > li > a:hover,
          #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
            color: #00d2df; } }

/* line 2, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/bg-pattern.png"), #ffe900;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #00d2df, #00949d);
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #00d2df, #00949d); }
  /* line 11, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
  header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center; }
    /* line 15, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
    header.masthead .header-content h1 {
      font-size: 30px; }
  /* line 19, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
  header.masthead .device-container {
    max-width: 435px;
    margin-right: auto;
    margin-left: auto; }
    /* line 23, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
    header.masthead .device-container .screen img {
      border-radius: 3px; }
  @media (min-width: 992px) {
    /* line 2, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
    header.masthead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0; }
      /* line 32, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
      header.masthead .header-content {
        margin-bottom: 0;
        text-align: left; }
        /* line 35, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
        header.masthead .header-content h1 {
          font-size: 50px; }
      /* line 39, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
      header.masthead .device-container {
        max-width: 435px; } }

/* line 46, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
.inqappframe:-webkit-scrollbar {
  width: 0px; }

/* line 51, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
.try-button {
  display: flex;
  align-content: center;
  font-size: 21px !important;
  border-bottom: 2px white solid;
  width: 72%;
  padding: 15px !important;
  border-top: 2px white solid;
  background: rgba(255, 255, 255, 0.11); }
  @media screen and (max-width: 990px) {
    /* line 51, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
    .try-button {
      margin: auto; } }
  /* line 63, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
  .try-button i {
    font-size: 30px;
    padding: 0px 10px;
    animation: showright 1s infinite;
    -webkit-animation: showright 1s infinite; }
    @media screen and (max-width: 990px) {
      /* line 63, /Applications/XAMPP/xamppfiles/htdocs/website/sunalisclasses/scss/_masthead.scss */
      .try-button i {
        display: none;
        animation: none;
        -webkit-animation: none; } }

@keyframes showright {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 10px; } }

/*# sourceMappingURL=atf.css.map */